<div class="row">
    <div class="col-md-2" style="text-align: center">
        <div class="btn-group-vertical">
            <div class="btn btn-default"><span id="player1">Player 1</span></div>
            <div class="btn btn-danger"><img width="18px" src="/static/img/icons/fire.svg"/> <span id="fire1">0</span></div>
            <div class="btn btn-primary"><img width="18px" src="/static/img/icons/water.svg"/> <span id="water1">0</span></div>
            <div class="btn btn-warning"><img width="18px" src="/static/img/icons/earth.svg"/> <span id="earth1">0</span></div>
            <div class="btn btn-success"><img width="18px" src="/static/img/icons/air.svg"/> <span id="air1">0</span></div>
            <div class="btn btn-info"><img width="18px" src="/static/img/icons/light.svg"/> <span id="light1">0</span></div>
            <div class="btn btn-default"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <span id="money1">0</span></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center" id="phase">Enchères</h3>
            </div>
            <div class="panel-body" id="panel">
                <div id="phase_bid">
                    <div class="row" style="display: table; table-layout: fixed; margin: auto">
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <h3 id="old_bid1" display="inline" color="#888888"></h3><h1 id="bid1" class="text-danger" display="inline">1000</h1>
                        </div>
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <img height=200px id="bid_elt" src="/static/img/icons/water.svg"/>
                        </div>
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <h3 id="old_bid2"></h3><h1 id="bid2" class="text-success">1337</h1>
                        </div>
                    </div>
                </div>
                <div id="phase_fight">
                    <div class="row" style="display: table; table-layout: fixed; margin: auto">
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <img height=200px id="fight_elt1" src="/static/img/icons/water.svg" id="elt_player1"/>
                        </div>
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <h1>VS</h1>
                        </div>
                        <div class="col-md-4" style="display: table-cell; vertical-align: middle; text-align:center; float: none">
                            <img height=200px id="fight_elt2" src="/static/img/icons/water.svg" id="elt_player2"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="text-align: center">
        <div class="btn-group-vertical">
            <div class="btn btn-default"><span id="player2">Player 2</span></div>
            <div class="btn btn-danger"><img width="18px" src="/static/img/icons/fire.svg"/> <span id="fire2">0</span></div>
            <div class="btn btn-primary"><img width="18px" src="/static/img/icons/water.svg"/> <span id="water2">0</span></div>
            <div class="btn btn-warning"><img width="18px" src="/static/img/icons/earth.svg"/> <span id="earth2">0</span></div>
            <div class="btn btn-success"><img width="18px" src="/static/img/icons/air.svg"/> <span id="air2">0</span></div>
            <div class="btn btn-info"><img width="18px" src="/static/img/icons/light.svg"/> <span id="light2">0</span></div>
            <div class="btn btn-default"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <span id="money2">0</span></div>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-2" style="text-align: center">
        <div class="panel panel-default" style="margin:auto; clear: left; float: none; width: 50%">
            <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span></br><span id="score1">0</span></h4>
        </div>
    </div>
    <div class="col-md-8" style="text-align: center">
        <input id="turn_slider" type="text" data-slider-id="slider"/>
        </br>
        </br>
        <div class="btn-group">
            <div class="btn btn-default" onclick="add_turn(-1)"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></div>
            <div class="btn btn-default" onclick="toggle_play()"><span id="play_icon" class="glyphicon glyphicon-pause" aria-hidden="true"></span></div>
            <div class="btn btn-default" onclick="add_turn(1)"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></div>
        </div>
    </div>
    <div class="col-md-2" style="text-align: center">
        <div class="panel panel-default" style="margin:auto; clear: left; float: none; width: 50%">
            <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span></br><span id="score2">0</span></h4>
        </div>
    </div>
</div>
